body, html { height: 100%; margin: 0; font-family: Arial, sans-serif; }
.timer-container {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #e0e5ec;
}

.timer-display {
width: 250px;
height: 250px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
background: #e0e5ec;
box-shadow:
5px 5px 10px #c1c5cc,
-5px -5px 10px #ffffff;
}

.time-text {
font-size: 3em;
color: #7d93ba;
}

.time-input {
margin-bottom: 10px;
padding: 10px;
width: 200px;
text-align: center;
font-size: 1em;
border: none;
border-radius: 20px;
background: #e0e5ec;
box-shadow:
inset 3px 3px 6px #c1c5cc,
inset -3px -3px 6px #ffffff;
outline: none;
}

.timer-button {
padding: 10px 20px;
font-size: 1em;
border: none;
border-radius: 20px;
background: #68aec5;
color: white;
cursor: pointer;
outline: none;
transition: background-color 0.3s;
box-shadow:
3px 3px 6px #c1c5cc,
-3px -3px 6px #ffffff;
}

.timer-button:hover {
background-color: #4c91ae;
}

.timer-ring {
transform: rotate(-90deg);
position: absolute;
}

@keyframes flash-border {
0%, 70% { box-shadow: 5px 5px 10px #c1c5cc, -5px -5px 10px #ffffff, 0 0 0 4px rgb(252, 147, 147); }
50% { box-shadow: 5px 5px 10px #c1c5cc, -5px -5px 10px #ffffff; }
}

.timer-display.flash-border {
animation: flash-border 2s 1 forwards;
}

.timer-ring__path {
transition: stroke-dashoffset 1s;
transform: rotate(-90deg);
transform-origin: 50% 50%;
stroke-dasharray: 730;
stroke-dashoffset: 730;
stroke: rgb(203, 215, 220);
stroke-width: 20px;
stroke-linecap: round;
}

/* Dark Mode */

/* Switch button styles */
.mode-switch {
position: absolute;
top: 20px;
right: 20px;
}

.mode-switch__input {
display: none;
}

.mode-switch__label {
display: inline-block;
width: 60px;
height: 30px;
background-color: #e0e5ec;
border-radius: 15px;
position: relative;
cursor: pointer;
transition: background-color 0.3s;
box-shadow:
inset 3px 3px 6px #c1c5cc,
inset -3px -3px 6px #ffffff;
}

.mode-switch__label::before {
content: '';
position: absolute;
width: 24px;
height: 24px;
background-color: #fff;
border-radius: 50%;
top: 3px;
left: 3px;
transition: transform 0.3s;
box-shadow:
3px 3px 6px #c1c5cc,
-3px -3px 6px #ffffff;
}

.mode-switch__input:checked + .mode-switch__label {
background-color: #333;
}

.mode-switch__input:checked + .mode-switch__label::before {
transform: translateX(30px);
}

/* Dark mode styles */
body.dark-mode {
background-color: #333;
color: #fff;
}

.dark-mode .timer-container {
background-color: #222;
}

.dark-mode .timer-display {
background: #222;
box-shadow:
5px 5px 10px #111,
-5px -5px 10px #333;
}

.dark-mode .time-text {
color: #ddd;
}

.dark-mode .time-input {
background: #222;
box-shadow:
inset 3px 3px 6px #111,
inset -3px -3px 6px #333;
color: #fff;
}

.dark-mode .timer-button {
background: #555;
box-shadow:
3px 3px 6px #111,
-3px -3px 6px #333;
}

.dark-mode .timer-button:hover {
background-color: #777;
}

/* Fancy switch */

.switch {
font-size: 17px;
position: relative;
display: inline-block;
width: 64px;
height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #73C0FC;
transition: .4s;
border-radius: 30px;
box-shadow:
inset 3px 3px 6px #66a5d9,
inset -3px -3px 6px #80d5ff;
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
border-radius: 20px;
left: 2px;
bottom: 2px;
z-index: 2;
background-color: #e8e8e8;
transition: .4s;
box-shadow:
3px 3px 6px #c1c5cc,
-3px -3px 6px #ffffff;
}

.sun svg {
position: absolute;
top: 6px;
left: 36px;
z-index: 1;
width: 24px;
height: 24px;
}

.moon svg {
fill: #73C0FC;
position: absolute;
top: 5px;
left: 5px;
z-index: 1;
width: 24px;
height: 24px;
}

.sun svg {
animation: rotate 15s linear infinite;
}

@keyframes rotate {
0% {
transform: rotate(0);
}
100% {
transform: rotate(360deg);
}
}

.moon svg {
animation: tilt 5s linear infinite;
}

@keyframes tilt {
0% {
transform: rotate(0deg);
}
25% {
transform: rotate(-10deg);
}
75% {
transform: rotate(10deg);
}
100% {
transform: rotate(0deg);
}
}

.input:checked + .slider {
background-color: #183153;
box-shadow:
inset 3px 3px 6px #0d1c2e,
inset -3px -3px 6px #234678;
}

.input:focus + .slider {
box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
transform: translateX(30px);
}