body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.timer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.timer-display {
  width: 250px;
  height: 250px;
  border: 10px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.time-text {
  font-size: 3em;
  color: #7d93ba;
}

.time-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.timer-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  background-color: #68aec5;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.timer-button:hover {
  background-color: #4c91ae;
}

.timer-ring {
  transform: rotate(-90deg);
  position: absolute;
}

@keyframes flash-border {
  0%, 70% { border-color: rgb(252, 147, 147); }
  50% { border-color: #ddd; }
}

.timer-display.flash-border {
  animation: flash-border 2s 1 forwards;
}

.timer-ring__path {
  transition: stroke-dashoffset 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 730;
  stroke-dashoffset: 730;
  stroke: rgb(203, 215, 220);
  stroke-width: 20px;
  stroke-linecap: round;
}